extends layout

block content
  h1= title
  p Welcome to #{title}
  p Pick a username 
  form(method='get')
  .form-group
  input.form-control(name='user' placeholder='Username')
  button.btn.btn-primary Login




  



